body{
    min-width: 1100px;
}
#content{
    width: 1200px;
    margin: 0 auto;
    margin-top: 100px;
}

.analysis-input{
    margin-top:20px;
    height: 37px;
}

.input-title{
    float: left;
    width: 20%;
    line-height:36px;
}
.input-value{
    float: left;
    width: 80%;
}

#beginDate_input, #endDate_input{
    cursor: pointer;
}

#right{
    margin-left: 80px;
}
#left{
    margin-left: 20px;
}