nav .nav-brand{
    float: left;
    padding: 0 10px;
}

nav .nav-brand h3{
    float: left;
    margin: 0;
    padding: 8px 0;
}

#nav-btns > li{
    color: white;
    width: 80px;
    transition: .5s;
    cursor: hand;
}

/*#nav-btns>li:hover{*/
    /*color: #CC5A02;*/
    /*transition: .5s;*/
/*}*/
#nav-btns a{
    text-decoration: none!important;
    color: white;
    cursor: pointer;
    height: 100%;
    display: block;
    text-align: center;
    line-height: 39px;
}
#nav-btns a:hover{
    cursor: pointer!important;
    text-decoration: none!important;
    color: #CC5A02;
    transition: .5s;
}